<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://i.ibb.co/chHvG5C/icons8-helping-96.png" rel="icon">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/donate/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Donation</title>
</head>
<body>
    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
          <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Help-Pact<span>.</span></h1>
          </a>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/socialworker">Social Service</a></li>
              <li><a href="/donate">Donate</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Log in</a></li>
            </ul>
          </nav><!-- .navbar -->
    
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
        </div>
      </header><!-- End Header -->
      <!-- End Header -->


<!-- ======= Our Services Section ======= -->
<section id="services" class="services sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Choose where you donate</h2>
        <p>Every bit counts</p>
      </div>

      <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <h3>Flood relief</h3>
            <p>Donate for victims whose houses and livelihoods have been affected by floods</p>
            <br>
            <input placeholder="Enter donation amount" class="amount" type="number">
            <form action="/create-checkout-session" method="POST">
              <button class="pay">Pay</button>
            </form>
           </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <h3>Cyclones</h3>
            <p>Provide relief to the victims whose lives have been torn apart by ravaging cyclones</p>
            <br>
            <input placeholder="Enter donation amount" class="amount" type="number">
            <form action="/create-checkout-session" method="POST">
            <button class="pay">Pay</button>
          </form>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
            </div>
            <h3>Droughts</h3>
            <p>Bring comfort for families impacted by shortage of water, food and other resources</p>
            <br>
            <input placeholder="Enter donation amount" class="amount" type="number">
            <form action="/create-checkout-session" method="POST">
              <button class="pay">Pay</button>
            </form> </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <h3>Family of victims of crimes</h3>
            <p>Help in consoling the family of the innocent victims affected by violent crimes </p>
            <br>
            <input placeholder="Enter donation amount" class="amount" type="number">
            <form action="/create-checkout-session" method="POST">
              <button class="pay">Pay</button>
            </form> </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <h3>Earthquakes</h3>
            <p>Give solace to the people whose lives were shaken up by an unforseen disaster</p>
            <br>
            <input placeholder="Enter donation amount" class="amount" type="number">
            <form action="/create-checkout-session" method="POST">
              <button class="pay">Pay</button>
            </form> </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-chat-square-text"></i>
            </div>
            <h3>Famines</h3>
            <p>Contribute to helping the individuals who do not have access to food</p>
            <br>
            <input placeholder="Enter donation amount" class="amount" type="number">
            <form action="/create-checkout-session" method="POST">
              <button class="pay">Pay</button>
            </form></div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Our Services Section -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
             
              <p> An online platform to equip the common man with the emergency
                services pertaining to house crimes, disaster management etc.</p>
              <div class="social-links d-flex mt-4">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
    
            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="/socialworker">Social Service</a></li>
                <li><a href="#/donate">Donate</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
            </div>
    
            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
              <h4>Contact Us</h4>
              <p>
                Mumbai, Maharashtra<br>
                India <br><br>
                <strong>Phone:</strong> +91 9082102258<br>
                <strong>Email:</strong> helppact@gmail.com<br>
              </p>
    
            </div>
    
          </div>
        </div>
    
      </footer><!-- End Footer -->
      <!-- End Footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>